body {
    background-color: black;
    color: lightgray;
    margin: 0;
}

#LoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

#LoadingText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#cnvs {
    display: block;
    margin: auto;
}

a:link {
    color: white;
}

.comicLink {
    display: block;
}

.selectedComicLink {
    display: block;
    background-color: gray;
}

#divLibrary {
    background-color: blue;
    position: fixed;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    overflow-y: auto;
    z-index: 2;
}

#navigationKeysGrabber {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}